# Python
__pycache__/
*.py[cod]

# Database
*.sqlite3

# Environment
.env
.venv/
venv/

# Django
staticfiles/

# Ignore migration files (keep __init__.py if needed)
**/migrations/
!**/migrations/__init__.py